<?xml version="1.0"?>
<robot xmlns:xacro="http://www.ros.org/wiki/xacro" name="example">
<!-- ground truth -->
   <xacro:macro name="ground_truth" params="">
      <gazebo>
         <plugin filename="libgazebo_ros_p3d.so" name="body_groundtruth_sim">
            <alwaysOn>true</alwaysOn>
            <updateRate>100.0</updateRate>
            <bodyName>base</bodyName>
            <topicName>ground_truth/state</topicName>
            <gaussianNoise>0.0</gaussianNoise>
            <frameName>world</frameName>
         </plugin>
      </gazebo>
   </xacro:macro>
</robot>