<?xml version='1.0' encoding='utf-8'?>
<robot xmlns:xacro="http://www.ros.org/wiki/xacro" name="example">
    <xacro:property name="description_pkg" value="balegce"/>
    <xacro:property name="gazebo_pkg" value="balegce_gazebo"/>
  
    <!-- Include all model properties-->
    <xacro:include filename="$(find ${description_pkg})/robot/visual/properties.xacro"/>

    <!-- Include sensor plugin -->
    <xacro:include filename="$(find ${gazebo_pkg})/robot/balegce_sensor.gazebo.xacro"/>
    <xacro:include filename="$(find ${gazebo_pkg})/robot/balegce_controller.gazebo.xacro"/>
    <xacro:include filename="$(find ${gazebo_pkg})/robot/balegce_ground_truth.xacro"/>
    <!-- Add manipulator -->
    <xacro:include filename="$(find ${description_pkg})/robot/visual/manipulator.xacro"/>
    <xacro:include filename="$(find ${description_package})/robot/visual/sensor.xacro"/>
        
    <!-- <link name="world"/> -->
    <xacro:balegce/>
    <xacro:sensor_link/>
    <xacro:sensor_plugins/>
    <xacro:velocity_controller/>
</robot>